[submodule "python-isort"]
	path = python-isort
	url = https://github.com/nasyxx/emacs-python-isort.git
[submodule "nasy-theme"]
	path = nasy-theme
	url = https://github.com/nasyxx/emacs-nasy-theme.git
[submodule "bibtex-tidy-mode"]
	path = bibtex-tidy-mode
	url = https://github.com/nasyxx/bibtex-tidy-mode.git
